
<p>hello Component</p>

<!-- Day 3: ANGULAR DATA BINDING -->
<h1>Day 3: ANGULAR DATA BINDING</h1>

<!-- INTERPOLATION -->
<p>Name: {{ user.name }}</p>
<p>Age: {{ user.age }}</p>

<!-- PROPERTY BINDING -->
Input here: <input type="text" [value]="user.name">
<br><br>

<!-- EVENT BINDING -->
<button (click)="showAlert()"> Click me</button>
<br><br>

<!-- TWO-WAY BINDING -->
<b>(TWO-WAY BINDING)</b> Input name: <input type="text" [(ngModel)]="user.name">
<!-- Two-way binding chính là kết hợp của binding dữ liệu từ class ra template thông qua property binding,
     và từ template vào class thông qua event binding -->
<br><br>

<!-------------------------------------------------------------------->

<!-- Day 4: ANGULAR STRUCTURE DIRECTIVE - NGIF -->
<h1>Day 4: ANGULAR STRUCTURE DIRECTIVE - NGIF</h1>

<!-- DIRECTIVE NG-IF -->
<b>(DIRECTIVE NG-IF)</b> Input age: <input type="text" [(ngModel)]="user.age">
<div *ngIf="user.age > 15">
    Đây là nội dung dành cho người trên 15 tuổi.
</div>
<div *ngIf="user.age < 15">
    Đây là nội dung dành cho người dưới 15 tuổi.
</div>

<!-- Day 5: ANGULAR STRUCTURE DIRECTIVE NGFOROF -->
<h1>Day 5: ANGULAR STRUCTURE DIRECTIVE NGFOROF</h1>

<!-- DIRECTIVE NG-FOR -->
<div class="users-container">
    <p *ngFor="let user of users; index as ids; count as total;">
       <span *ngIf="user.age > 12">
        ({{ ids + 1}}/{{ total }}): {{ user.id }} - {{ user.name }}
       </span>
    </p>
</div>

<!-- MỘT SỐ LOCAL VARIABLE TRONG MỘT NGFOROF TEMPLATE -->
<h3>MỘT SỐ LOCAL VARIABLE TRONG MỘT NGFOROF TEMPLATE</h3>
<div><img src="assets\images\Annotation 2020-08-26 155712.png" alt=""></div>